{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Viagens</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Gerenciador de Viagens</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
